<div class="auth-wrapper">
    <div class="auth-content">
      <h1>{{error}}</h1>
      <div class="card">
        <div class="row align-items-center text-center">
          <div class="col-md-12">
            <div class="card-body">
              <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <form  #form="ngForm">
              <h4 class="mb-3 f-w-400">Signin</h4>
              <div class="form-group mb-3">
                <input type="email" class="form-control" ngModel name="email" placeholder="Email address">
              </div>
              <div class="form-group mb-4">
                <input type="password"  class="form-control" ngModel name="password" placeholder="Password">
              </div>
              <div class="custom-control custom-checkbox text-left mb-4 mt-2">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Save credentials.</label>
              </div>
            </form>
            <button (click)="singin(form.value)" class="btn btn-block btn-primary mb-4">Signin</button>
            <!-- <p class="mb-2 text-muted">Forgot password? <a  class="f-w-400">Reset</a></p> -->
            
             <p class="mb-0 text-muted">Don’t have an account?</p><button class="f-w-400 btn btn-link" style="outline: none; border: none; color:black;" (click)="singup()"  >Signup</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  